.content {
  text-align: center;
  padding-top: 10%;
}



/*grid game*/
.grid {
  display: inline-block;
  background-color: antiquewhite;
  font-size: 0;
  height: 0;
  width: 0;
  transition: height 1s ease;
  transition: width 1s ease;

}

.cell {
  display: inline-block;
  padding: 10px;
  height: 25px;
  width: 25px;
  transition: background-color 0.5s ease;
}

.alert-section {
  height: 100px;
}


/*english game*/
.english {
  display: inline-block;
  background-color: antiquewhite;
  height: 400px;
  //overflow: hidden;
  transition: height 1s ease;
  transition: width 1s ease;
}

.english_value, .english_translation, .english_timer {
  text-align: center;
  width: 300px;
  height: 200px;
  line-height: 200px;
}

.english_value label, .english_translation label {

}

.english_timer {

}


/*common*/
.hide {
  display: none !important;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}
