.content {
  text-align: center;
  padding-top: 10%;
}

.grid {
  display: inline-block;
  background-color: antiquewhite;
  font-size: 0;
  height: 0;
  width: 0;
  transition: height 1s ease;
  transition: width 1s ease;

}

.hide {
  display: none;
}

.cell {
  display: inline-block;
  padding: 10px;
  height: 25px;
  width: 25px;
  transition: background-color 0.5s ease;
}

.alert-section {
  height: 100px;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}
