.content {
  text-align: center;
  padding-top: 10%;
}

.relodButton {
  padding-bottom: 20px;
}

#relod {
  border: none;
  padding: 10px 30px 10px 30px;
  background-color: antiquewhite;
}

.grid {
  display: inline-block;
  background-color: antiquewhite;
  font-size: 0;
}

.cell {
  display: inline-block;
  padding: 10px;
  height: 25px;
  width: 25px;
  transition: background-color 0.5s ease;
}

.alert-section {
  height: 100px;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}
