.content {
  text-align: center;
  padding-top: 10%;
}



/*grid game*/
.grid {
  display: inline-block;
  background-color: antiquewhite;
  font-size: 0;
  height: 0;
  width: 0;
  transition: height 1s ease;
  transition: width 1s ease;

}

.cell {
  display: inline-block;
  padding: 10px;
  height: 25px;
  width: 25px;
  transition: background-color 0.5s ease;
}

.alert-section {
  height: 100px;
}


/*english game*/
.english {
  display: inline-block;
  background-color: antiquewhite;
  width: 400px;
  transition: height 1s ease;
  transition: width 1s ease;
}

.english_value {
  text-align: center;
  padding: 30px;
}

.english_value label {
  display: block;
}

.english_translation {
  text-align: center;
  padding: 25px;
}

.english_translation label {
  display: block;
}

.english_buttons {
  text-align: center;
  padding: 40px;
}

.english_buttons button {
  margin-bottom: 5px;
}





















.hide {
  display: none !important;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}
